{% load social_tags %}
<!-- Sidebar -->
<div class="fixed inset-y-0 left-0 z-50 flex w-64 lg:relative lg:z-0 lg:w-auto lg:flex-shrink-0 lg:static lg:flex lg:inset-auto lg:left-auto lg:top-auto lg:h-auto lg:visible hidden lg:block" id="side-navbar">
    <div class="flex flex-col w-64 border-r border-gray-200 bg-forest-50">
        <!-- Sidebar header -->
        <div class="flex items-center h-16 flex-shrink-0 border-b border-forest-100 shadow-md">
            <a href="{% url 'dashboard' %}" class="flex flex-shrink-0 items-center">
                <img src="/static/img/logo.png" alt="MRT Logo" class="w-10 h-12 m-2">
                <span class="text-sm font-bold text-primary tracking-tight">MRT GREEN FOUNDATION</span>
            </a>
        </div>

        <!-- Sidebar content -->
        <div class="flex-1 flex flex-col overflow-y-auto">
            <nav class="flex-1 px-4 py-4 space-y-1">
                <!-- Home -->
                <a href="/"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                                  {% if request.resolver_match.url_name == 'index' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg class="mr-3 h-5 w-5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                    Home
                </a>

                <!-- Dashboard -->
                <a href="{% url 'dashboard' %}"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                        {% if request.resolver_match.url_name == 'dashboard' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg class="mr-3 h-5 w-5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h7v7H3V3zm0 11h7v7H3v-7zm11-11h7v7h-7V3zm0 11h7v7h-7v-7z" />
                    </svg>
                    Dashboard
                </a>
                
                <!-- Donations -->
                <a href="/dashboard/my-donations/"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                                  {% if request.resolver_match.url_name == 'my_donations' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg class="mr-3 h-5 w-5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    Donations
                </a>

                <!-- Transactions -->
                <a href="/dashboard/my-transactions/"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
         {% if request.resolver_match.url_name == 'my_transactions' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"
                        class="mr-3 h-5 w-5 flex-shrink-0 stroke-current">
                        <desc>Credit Card 1 Streamline Icon: https://streamlinehq.com</desc>
                        <g>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12.5 2.25h-11c-0.552285 0 -1 0.44772 -1 1v7.5c0 0.5523 0.447715 1 1 1h11c0.5523 0 1 -0.4477 1 -1v-7.5c0 -0.55228 -0.4477 -1 -1 -1Z"
                                stroke-width="1" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M0.5 5.75h13" stroke-width="1" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.5 9.25H11" stroke-width="1" />
                        </g>
                    </svg>
                    Transactions
                </a>


                <!-- Referrals -->
                <a href="{% url 'my_invites' %}"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                                  {% if request.resolver_match.url_name == 'my_invites' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg class="mr-3 h-5 w-5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    Invitations
                </a>

                <!-- Referrals -->
                <a href="{% url 'selfie_with_tree' %}"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                                  {% if request.resolver_match.url_name == 'selfie_with_tree' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">         
                    <svg class="mr-3 h-5 w-5 flex-shrink-0"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Mobile-Phone-Camera--Streamline-Core" height="14" width="14">
                      <desc>
                        Mobile Phone Camera Streamline Icon: https://streamlinehq.com
                      </desc>
                      <g id="mobile-phone-camera--photos-photo-picture-photography-camera-pictures-phone">
                        <path id="Vector" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M4.5 11h1" stroke-width="1"></path>
                        <path id="Vector_2" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M5 0.5H1.5c-0.552285 0 -1 0.447715 -1 1v11c0 0.5523 0.447715 1 1 1h7c0.55228 0 1 -0.4477 1 -1V9" stroke-width="1"></path>
                        <path id="Vector_3" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M13.5 3c0 -0.26522 -0.1054 -0.51957 -0.2929 -0.70711C13.0196 2.10536 12.7652 2 12.5 2H12L11 0.5H9L8 2h-0.5c-0.26522 0 -0.51957 0.10536 -0.70711 0.29289C6.60536 2.48043 6.5 2.73478 6.5 3v2.5c0 0.26522 0.10536 0.51957 0.29289 0.70711 0.18754 0.18753 0.44189 0.29289 0.70711 0.29289h5c0.2652 0 0.5196 -0.10536 0.7071 -0.29289 0.1875 -0.18754 0.2929 -0.44189 0.2929 -0.70711V3Z" stroke-width="1"></path>
                        <g id="Group 11">
                          <path id="Ellipse 1" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M10 4.375c-0.20711 0 -0.375 -0.16789 -0.375 -0.375s0.16789 -0.375 0.375 -0.375" stroke-width="1"></path>
                          <path id="Ellipse 2" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M10.0001 4.375c0.2071 0 0.375 -0.16789 0.375 -0.375s-0.1679 -0.375 -0.375 -0.375" stroke-width="1"></path>
                        </g>
                      </g>
                    </svg>
                    Selfie With Tree
                </a>


                <!-- Settings -->
                <a href="{% url 'my_account' %}"
                    class="group flex items-center px-4 py-3 text-sm font-medium rounded-lg transition-all duration-200 
                        {% if request.resolver_match.url_name == 'my_account' %}bg-green-50 text-green-700{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-3 h-5 w-5 flex-shrink-0" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>                    
                    My Account
                </a>
            </nav>

            <!-- Sidebar footer -->
            <div class="px-4 py-4 border-t border-gray-200">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        {% if request.user.is_authenticated %}
                        {% with profile_picture=request.user|google_profile_picture %}
                        {% if profile_picture %}
                        <img class="h-10 w-10 rounded-full" src="{{ profile_picture }}" alt="Profile Picture">
                        {% else %}
                        <div
                            class="h-10 w-10 rounded-full bg-gray-200 flex items-center justify-center text-gray-600 font-medium">
                            {{ request.user.username|slice:":1"|upper }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% else %}
                        <div
                            class="h-10 w-10 rounded-full bg-gray-200 flex items-center justify-center text-gray-600 font-medium">
                            G
                        </div>
                        {% endif %}
                    </div>
                    <div class="ml-3">
                        <p class="text-sm font-medium text-gray-700">
                            {% if request.user.is_authenticated %}
                            {{ request.user.get_full_name|default:request.user.username }}
                            {% else %}
                            Guest User
                            {% endif %}
                        </p>
                        <a href="{% url 'logout' %}" class="text-xs font-medium text-gray-500 hover:text-gray-700">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>