<!-- Navigation -->
<nav class="bg-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-3 lg:px-8">
        <div class="flex justify-between h-16 items-center">
            <!-- Logo -->
            <button id="mobile-menu-button" class="text-gray-700 hover:text-accent focus:outline-none">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
            <a href="/" class="flex-shrink-0 flex items-center">
                <img src="/static/img/logo.png" alt="MRT Logo" class="w-8 h-10 mr-1">
                <span class="text-1xl font-bold text-primary tracking-tight">MRT GREEN FOUNDATION</span>
            </a>

            <!-- Mobile Menu Button -->
            <div class="md:hidden flex">
                <a href="/dashboard/"
                   class="bg-green-900 text-white text-center p-2 text-sm rounded-md hover:bg-green-700 transition duration-300 font-medium shadow-md">
                   {% if user.is_authenticated %}Dashbord{% else %}Join Now{% endif %}
                </a>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-8 items-center">
                <a href="/" class="text-secondary hover:text-accent font-medium transition duration-300">Home</a>
                <a href="/aboutus/" class="text-secondary hover:text-accent font-medium transition duration-300">About
                    Us</a>
                <a href="/news/" class="text-secondary hover:text-accent font-medium transition duration-300">News</a>
                <a href="/donate/" class="text-secondary hover:text-accent font-medium transition duration-300">Donate</a>
                <a href="/dashboard/"
                   class="inline-block bg-green-900 text-white px-6 py-3 rounded-md hover:bg-green-700 transition duration-300 font-medium shadow-md">
                   {% if request.user.is_authenticated %}My Dashboard{% else %}Register Now{% endif %}
                </a>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="mobile-menu bg-white md:hidden">
        <div class="px-4 pt-2 pb-4 space-y-2">
            <a href="/"
                class="block px-3 py-1 rounded-md text-base font-medium text-gray-700 text-center hover:text-white hover:bg-primary">Home</a>
            <a href="/aboutus/"
                class="block px-3 py-1 rounded-md text-base font-medium text-gray-700 text-center hover:text-white hover:bg-primary">About
                Us</a>
            <a href="/news/"
                class="block px-3 py-1 rounded-md text-base font-medium text-gray-700 text-center hover:text-white hover:bg-primary">Projects</a>
            <a href="/news/"
                class="block px-3 py-1 rounded-md text-base font-medium text-gray-700 text-center hover:text-white hover:bg-primary">Impact</a>
            <a href="/donate/"
                class="block px-3 py-1 rounded-md text-base font-medium text-gray-700 text-center hover:text-white hover:bg-primary">Donate</a>
            <a href="/dashboard/"
               class="inline-block bg-green-900 text-white px-6 py-3 rounded-md hover:bg-green-700 transition duration-300 font-medium shadow-md w-full text-center">
               Register Now
            </a>
        </div>
    </div>
</nav>
