{% extends 'dashboard/base.html' %}
{% load social_tags %}
{% block title %}
MRT Tree Plantation | Dashboard
{% endblock %}

{% block page %}My Dashboard{% endblock page %}

{% block body %}
<div class="min-h-screen">
    <!-- Main Content -->
    <main class="bg-forest-50 leaf-pattern container mx-auto px-1 py-6 max-w-7xl">
        <div class="min-h-screen bg-gray-100 py-8 px-6">
            <div class="max-w-5xl mx-auto">
                <h1 class="text-3xl font-bold text-gray-800 mb-6">
                    Referrals of {{ user_obj.username }}
                </h1>

                <div id="referral-container" class="space-y-6">
                    {% include "dashboard/partials/referral_tiles.html" with referrals=referrals %}
                </div>
            </div>
        </div>

    </main>
</div>
<script>
async function toggleChildren(userId, element) {
  let container = element.parentElement.querySelector(".children-container");

  // If already loaded, just toggle visibility
  if (container) {
    container.classList.toggle("hidden");
    return;
  }

  // Fetch children from server
  let response = await fetch(`/dashboard/invitations/children/${userId}/`);
  let data = await response.json();

  let div = document.createElement("div");
  div.className = "children-container ml-10 mt-4"; // indent children
  div.innerHTML = data.html;
  element.parentElement.appendChild(div);
}
</script>

{% endblock %}

{% block extra_js %}

{% endblock %}